extends layout

block content
    h1 Sharon's Blog
    div(class='content')
        each entry, i in entries
            div(class="entry")
                h2 #{entry.title}
                div(class="entry-body")
                    p #{entry.body}
                    p(class="date") #{entry.date} #{entry.time}
                form(method='POST', action='/delete/#{entry._id}')
                    button(type='submit') Delete
